.body-simple {
  background-color: #fdfdfd;
  color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-simple input,
.body-simple textarea {
  background-color: #f0f0f0;
  border: 1px dashed #000;
  padding: 5px;

  border-radius: 5px;
}

.container-simple {
  width: 21cm;
  height: 29.7cm;
}
.hero-simple {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  line-height: 1;
  padding-bottom: 10px;
}
.hero-simple h3 {
  font-size: 4rem;
  font-weight: 900;
}
.hero-simple h4 {
  font-size: 2rem;
  font-weight: 500;
}
.mainContainer-simple {
  padding-top: 15px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}
main,
aside {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main {
  flex: 5;
}
aside {
  flex: 2;
}
.body-simple main > div {
  border-left: 2px solid black;
  padding-left: 15px;
}
li {
  margin-left: 15px;
}
.noListStyle {
  list-style: none;
}
.noListStyle li {
  margin-left: 0px;
}
.borderBottom-simple {
  border-bottom: 2px solid black;
}
textarea {
  width: 100%;
}
