.body-tech {
  display: flex;
  justify-content: center;
  font-family: "Futura", "Helvetica", "Arial", sans-serif;
}
.hero-tech {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.hero-tech h3 {
  text-transform: uppercase;
  font-size: 3.5em;
}
.name h3:first-child::before {
  content: "<";
}
.hero-tech h3:last-child::after {
  content: ">";
}
.ul-tech {
  display: flex;
  flex-direction: column;
  align-items: end;
}
aside .borderBottom-tech,
main .borderBottom-tech {
  border-bottom: 2px solid black;
}
footer {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 300;
}
footer h4::before {
  content: "</";
}
footer h4::after {
  content: ">";
}
