.body-tech {
  display: flex;
  justify-content: center;
  font-family: "Futura", "Helvetica", "Arial", sans-serif;
}
.hero-tech {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.hero-tech h3,
.name input {
  text-transform: uppercase;
  font-size: 3.5em;
}
.name h3:first-child::before,
.name input:first-child::before {
  content: "<";
}
.hero-tech h3:last-child::after,
.name input:last-child::after {
  content: ">";
}
.ul-tech {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.mainContainer-tech {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.mainContainer-tech > div {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.mainContainer-tech main {
  grid-column: 1;
  grid-row: 2;
}
.mainContainer-tech aside {
  grid-column: 2;
  grid-row: 2;
}
aside .borderBottom-tech,
main .borderBottom-tech {
  border-bottom: 2px solid black;
}
footer,
footer input {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  padding-top: 10px;
}

footer h4::before {
  content: "</";
}
footer h4::after {
  content: ">";
}
